@import "./scss/reset", "./scss/variables";

body {
  background-image: linear-gradient(
    rgb(79, 79, 254),
    $buttonColor,
    rgb(194, 194, 254)
  );
  height: 100vh;
  background-repeat: no-repeat;
}
.container {
  background-color: white;
  width: 30rem;
  height: 44.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 20px black;
}
